.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-color: white;
}

.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: white;
}

.header {
  width: 350px;
  max-height: 50px;
  margin-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.description {
  width: 350px;
  max-height: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.descriptionToCheck,
.headerToCheck {
  max-height: none;
  position: absolute;
  visibility: hidden;
}

.linkWrapper {
  width: 100%;
  display: flex;
}
