.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-color: white;
}

.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: white;
}

a {
  text-decoration: none;
}

.header,
.headerToCheck  {
  width: 350px;
  margin-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  white-space: break-spaces;
  line-height: 26px;
}

.description,
.descriptionToCheck {
  width: 350px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  white-space: break-spaces;
  line-height: 23px;
}

.header {
  max-height: 50px;
}

.description {
  max-height: 65px;
}

.descriptionToCheck,
.headerToCheck {
  max-height: none;
  position: absolute; 
  visibility: hidden;
  white-space: break-spaces;
}

.linkWrapper {
  width: 100%;
  display: flex;
}
